* {
  transition: all 0.3s;
}
body {
  font-family: var(--font-default);
  color: var(--color-default);
  background-color: var(--color-light);
  font-weight: 400;
  line-height: 1;
  overflow-x: hidden;
  transition: all 0.3s;
}

::selection {
  background-color: hsl(
    var(--primary-hue),
    var(--primary-saturation),
    var(--primary-lightness),
    0.7
  );
  opacity: 0.2;
  color: var(--color-light);
}
