/* ?========================== COMPONENTS ==========================? */
.sect-bg {
  background-color: var(--color-light-grey);
}
.heading-primary {
  color: var(--color-secondary);
  font-family: var(--font-primary);
  font-size: 64px;
  font-weight: 600;
}
.paragraph {
  color: var(--color-tertiary);
  font-family: var(--font-default);
  font-weight: 500;
  line-height: 1.5;
}
.main-btn {
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 1px;
  display: inline-block;
  padding: 0.9rem 2.25rem;
  border-radius: 0 100vh 100vh;
  transition: 0.5s;
  color: #fff;
  background: var(--color-primary);
  text-decoration: none;
}

/* ?========================== HEADER ==========================? */
.header {
  background-color: var(--color-light);
  box-shadow: 0 0.3rem 2rem 0 rgba(0, 0, 0, 0.2);
  padding-block: 1rem;
  font-family: var(--font-secondary);
  z-index: 999;
}
.header .navbar-toggler {
  box-shadow: none;
  border: none;
}
.header .hamburger-icon {
  font-size: 1.7rem;
  color: var(--color-default);
  margin-right: 1rem;
}
.header .navbar-brand {
  font-size: 28px;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--color-default);
  margin: 0;
  position: relative;
}
.header .navbar-brand::after {
  content: ".";
  color: var(--color-primary);
}
.header .navbar-nav {
  gap: 1rem;
}
.header .nav-item .nav-link {
  color: var(--color-tertiary);
  font-weight: 600;
  text-transform: capitalize;
  position: relative;
}
.header .nav-item .nav-link:hover {
  color: var(--color-default);
}
.header .nav-item .nav-link.active {
  color: var(--color-default);
}
.header .nav-item .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0.125rem;
  background-color: var(--color-primary);
  transition: width 0.4s;
}
.header .nav-item .nav-link:hover::after {
  width: 100%;
}
.header .nav-item .nav-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.125rem;
  background-color: var(--color-primary);
}
.header .modal-backdrop.show {
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.header .offcanvas {
  transition: all 0.8s;
}
.header .offcanvas.show {
  max-width: 60%;
  background-color: var(--color-light);
  box-shadow: 0 0.3rem 2rem 0 rgba(0, 0, 0, 0.2);
}
.header .offcanvas.show .navbar-nav {
  gap: 0.7rem;
}
.header .offcanvas-header {
  justify-content: end;
}
.header .offcanvas-header .close-sidebar {
  font-size: 1.7rem;
  color: var(--color-default);
  cursor: pointer;
}
.header .offcanvas-body {
  padding-left: 2rem;
}
.header .offcanvas.show .nav-link {
  display: inline-block;
  font-size: 1.2rem;
}
.header .toggle-mode-wrapper {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #2b2b2b;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}
.header .toggle-mode-wrapper .mode-icon {
  position: absolute;
  font-size: 1.4rem;
  color: #666;
  filter: drop-shadow(0 0 0.2rem rgba(0, 0, 0, 0.1));
  transition: all 1s ease;
}
.header .toggle-mode-wrapper:has(#toggle-mode:checked) {
  background-color: #f8f8f8;
}
.header .toggle-mode-wrapper .dark-icon {
  transition-delay: 0.5s;
}
.header .toggle-mode-wrapper .light-icon {
  position: absolute;
  transform: scale(0);
}
.header .toggle-mode-wrapper:has(#toggle-mode:checked) .dark-icon {
  transition-delay: 0s;
  transform: rotate(360deg) scale(0);
}
.header .toggle-mode-wrapper:has(#toggle-mode:checked) .light-icon {
  transition-delay: 0.8s;
  transform: scale(1) rotate(360deg);
}

/* ?========================== HERO SECTION ==========================? */
#hero {
  padding-top: 9rem;
  padding-bottom: 4rem;
}
#hero .sub-heading-primary {
  color: var(--color-primary);
}
#hero .video-btn {
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 1px;
  display: inline-block;
  border-radius: 0 100vh 100vh;
  transition: 0.5s;
  color: var(--color-default);
  text-decoration: none;
}
#hero .video-icon-wrapper {
  width: 50px;
  height: 50px;
  background-color: var(--color-light);
  border-radius: 50%;
  position: relative;
}

#hero .video-icon-wrapper::after{
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 25px;

  border-top-left-radius: 100vh;
  border-top-right-radius: 100vh;
  border: 7px solid var(--color-primary);
  border-bottom: 0;
  transform: rotate(270deg) translate(-13px,-13px);
}
