/* ?========================== COMPONENTS ==========================? */
#goToTop {
  display: none;
  text-decoration: none;
  font-size: 1.4rem;
  position: fixed;
  right: 2%;
  bottom: 2%;
  color: var(--color-light);
  background-color: var(--color-primary);
  z-index: 99;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  transition: all 0.4s;
}
.sect-pd {
  padding-block: 5rem;
}
.sect-bg {
  background-color: var(--color-light-grey);
}
.section-heading-wrapper {
  padding-bottom: 1.875rem;
}
.heading-primary,
.heading-secondary {
  font-family: var(--font-primary);
}
.heading-primary {
  color: var(--color-secondary);
  font-size: 4rem;
  font-weight: 600;
}
.heading-secondary {
  color: var(--color-default);
  font-size: 3rem;
  font-weight: 400;
  transition: all 0s;
}
.heading-tertiary {
  color: var(--color-tertiary);
  letter-spacing: 1px;
  font-size: 0.8125rem;
  font-weight: 400;
  font-family: var(--font-default);
}
.sub-heading-secondary {
  color: var(--color-primary);
}
.paragraph {
  color: var(--color-tertiary);
  font-family: var(--font-default);
  font-weight: 500;
  line-height: 1.5;
}
.main-btn {
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 1px;
  display: inline-block;
  padding: 0.9rem 2.25rem;
  border-radius: 0 100vh 100vh;
  transition: 0.5s;
  color: #fff;
  background: var(--color-primary);
  text-decoration: none;
}
.modal {
  background-color: rgba(0, 0, 0, 0.92);
  padding-inline: calc(100vw - 100%);
}
.modal .modal-dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  transition: transform 0.3s ease-out;
}
.modal.fade .modal-dialog {
  transform: translate(0, 0) scale(0) !important;
}
.modal.show .modal-dialog {
  transform: translate(0, 0) scale(1.1) !important;
}
.modal .close-modal {
  color: #ccc;
  font-size: 2.2rem;
  cursor: pointer;
}
.modal-image {
  width: 100%;
}
.modal-body .carousel-item {
  text-align: center;
}
.carousel-control-prev {
  left: -20%;
}
.carousel-control-next {
  right: -20%;
}
.carousel-indicators {
  bottom: -35%;
}
.carousel-indicators .carousel-btn {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: var(--color-tertiary);
}
.carousel-indicators .carousel-btn.active {
  background-color: var(--color-primary);
}

/* ?========================== HEADER ==========================? */
.header {
  background-color: var(--color-light);
  box-shadow: 0 0.3rem 2rem 0 rgba(0, 0, 0, 0.2);
  padding-block: 1rem;
  font-family: var(--font-secondary);
  z-index: 999;
}
.header .navbar-toggler {
  box-shadow: none;
  border: none;
}
.header .hamburger-icon {
  font-size: 1.7rem;
  color: var(--color-default);
  margin-right: 1rem;
}
.header .navbar-brand {
  font-size: 1.75rem;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--color-default);
  margin: 0;
  position: relative;
}
.header .navbar-brand::after {
  content: ".";
  color: var(--color-primary);
}
.header .navbar-nav {
  gap: 1rem;
}
.header .nav-item .nav-link {
  color: var(--color-tertiary);
  font-weight: 600;
  text-transform: capitalize;
  position: relative;
}
.header .nav-item .nav-link:hover {
  color: var(--color-default);
}
.header .nav-item .nav-link.active {
  color: var(--color-default);
}
.header .nav-item .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0.125rem;
  background-color: var(--color-primary);
  transition: width 0.4s;
}
.header .nav-item .nav-link:hover::after {
  width: 100%;
}
.header .nav-item .nav-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.125rem;
  background-color: var(--color-primary);
}
.header .modal-backdrop.show {
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.header .offcanvas {
  transition: all 0.8s;
}
.header .offcanvas.show {
  max-width: 60%;
  background-color: var(--color-light);
  box-shadow: 0 0.3rem 2rem 0 rgba(0, 0, 0, 0.2);
}
.header .offcanvas.show .navbar-nav {
  gap: 0.7rem;
}
.header .offcanvas-header {
  justify-content: end;
}
.header .offcanvas-header .close-sidebar {
  font-size: 1.7rem;
  color: var(--color-default);
  cursor: pointer;
}
.header .offcanvas-body {
  padding-left: 2rem;
}
.header .offcanvas.show .nav-link {
  display: inline-block;
  font-size: 1.2rem;
}
.header .toggle-mode-wrapper {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #2b2b2b;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}
.header .toggle-mode-wrapper .mode-icon {
  position: absolute;
  font-size: 1.4rem;
  color: #666;
  filter: drop-shadow(0 0 0.2rem rgba(0, 0, 0, 0.1));
  transition: all 1s ease;
}
.header .toggle-mode-wrapper:has(#toggle-mode:checked) {
  background-color: #f8f8f8;
}
.header .toggle-mode-wrapper .dark-icon {
  transition-delay: 0.5s;
}
.header .toggle-mode-wrapper .light-icon {
  position: absolute;
  transform: scale(0);
}
.header .toggle-mode-wrapper:has(#toggle-mode:checked) .dark-icon {
  transition-delay: 0s;
  transform: rotate(360deg) scale(0);
}
.header .toggle-mode-wrapper:has(#toggle-mode:checked) .light-icon {
  transition-delay: 0.8s;
  transform: scale(1) rotate(360deg);
}

/* ?========================== HERO SECTION ==========================? */
#hero {
  padding-top: 9rem;
  padding-bottom: 4rem;
}
#hero .sub-heading-primary {
  color: var(--color-primary);
}
#hero .video-btn {
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 1px;
  display: inline-block;
  border-radius: 0 100vh 100vh;
  transition: 0.5s;
  color: var(--color-default);
  text-decoration: none;
}
#hero .video-icon-wrapper {
  width: 50px;
  height: 50px;
  background-color: var(--color-light);
  border-radius: 50%;
  position: relative;
}
#hero .video-icon-wrapper::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 25px;

  border-top-left-radius: 100vh;
  border-top-right-radius: 100vh;
  border: 7px solid var(--color-primary);
  border-bottom: 0;
  transform: rotate(270deg) translate(-13px, -13px);
}

/* ?========================== ABOUT SECTION ==========================? */
#about .about-img1 {
  transform: scale(1.4) translate(5.125rem, 4rem);
}
#about .overlay-about-img1-content {
  background-color: var(--color-light);
  padding: 1.25rem;
  left: 50%;
  bottom: 12%;
  width: 75%;
  transform: translateX(-50%);
}
#about .book-table {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 5px;
  font-family: var(--font-default);
}
#about .phone-number {
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--color-primary);
}
#about .about-paragraph {
  color: var(--color-default);
  line-height: 1.5;
}
#about .about-paragraph:first-child {
  font-style: italic;
}
#about .double-check {
  color: var(--color-primary);
  position: relative;
}
#about .double-check:after {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  font-weight: 900;
  position: absolute;
  left: 25%;
}

/* ?========================== WHY CHOOSE YUMMY SECTION ==========================? */
.why-choose-yummy .choose-primary-card {
  padding: 30px;
  background: var(--color-primary);
  color: #fff;
}
.why-choose-yummy .choose-primary-card .card-title {
  font-weight: 700;
  font-size: 34px;
}
.why-choose-yummy .choose-primary-card .card-paragraph {
  line-height: 1.5;
}
.why-choose-yummy .choose-card {
  text-align: center;
  background-color: var(--color-light);
  padding: 40px 30px;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(55, 55, 63, 0.1);
  transition: 0.3s;
}
.why-choose-yummy .choose-card:hover {
  transform: scale(1.1);
}
.why-choose-yummy .choose-card .card-icon {
  color: var(--color-primary);
  font-size: 2rem;
  background: rgba(206, 18, 18, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
}
.why-choose-yummy .choose-card .card-title {
  color: var(--color-default);
  font-size: 1.25rem;
  font-weight: 400;
  font-family: var(--font-secondary);
}
.why-choose-yummy .choose-card .card-paragraph {
  color: var(--color-default);
  font-size: 0.9375rem;
  color: #6c757d;
  line-height: 1.5;
}

/* ?========================== COUNTER SECTION ==========================? */
.counter-section {
  padding-block: 6.25rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/Counter\ Section/stats-bg.jpg) center center;
  background-size: cover;
  background-attachment: fixed;
}
.counter-section .stats-item {
  padding: 1.875rem;
}
.counter-section .stats-item .stats-counter {
  font-size: 48px;
  display: block;
  color: #fff;
  font-weight: 700;
}
.counter-section .stats-item .stats-paragrapgh {
  color: rgba(255, 255, 255, 0.6);
  font-family: var(--font-secondary);
  font-weight: 700;
  margin-block: 0.7rem;
}

/* ?========================== MENU SECTION ==========================? */
.menu-container .nav.nav-tabs,
.menu-container .nav.nav-tabs .nav-link {
  border: none;
}
.menu-container .nav.nav-tabs .nav-link {
  font-size: 1.125rem;
  font-weight: 400;
  font-family: var(--font-secondary);
  text-transform: capitalize;
  margin-inline: 0.625rem;
  padding: 0.625rem 0.3125rem;
  transition: 0.3s;
  color: var(--color-secondary);
  border-radius: 0;
  cursor: pointer;
  height: 100%;
  border: 0;
  border-bottom: 2px solid var(--color-tertiary);
}
.menu-container .nav.nav-tabs .nav-link:hover {
  color: var(--color-primary);
}
.menu-container .nav.nav-tabs .nav-link.active {
  color: var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
  background-color: transparent;
}
.menu-container .menu-title {
  margin-block: 1.875rem;
}
.menu-container .menu-title .menu-secondary-heading {
  color: var(--color-tertiary);
  font-size: 0.875rem;
}
.menu-container .menu-title .menu-primary-heading {
  font-size: 2.25rem;
  font-weight: 600;
  color: var(--color-primary);
}
.menu-options .menu-item .menu-item-img {
  padding-inline: 3.75rem;
  margin-bottom: 0.9375rem;
}
.menu-options .menu-item .menu-item-title {
  font-size: 1.375rem;
  font-weight: 500;
  color: var(--color-secondary);
  font-family: var(--font-secondary);
}
.menu-options .menu-item .menu-item-paragraph {
  font-family: var(--font-secondary);
  color: var(--color-tertiary);
}
.menu-options .menu-item .menu-item-price {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-primary);
}

/* ?========================== TESTIMONIALS SECTION ==========================? */
#testimonials .section-heading-wrapper {
  margin-bottom: 2.5rem;
}
#testimonials #testimonialsCarousel .testimonial-item .testimonial-content-box::before {
  content: '';
  width: 0.4%;
  height: 100%;
  background-color: var(--color-primary);
  position: absolute;
  left: -5%;
}
#testimonials #testimonialsCarousel .testimonial-item .testimonial-paragraph {
  font-family: var(--font-default);
  font-style: italic;
  line-height: 1.5;
  color: var(--color-default);
}
#testimonials
  #testimonialsCarousel
  .testimonial-item
  .testimonial-paragraph
  .qoute-icon {
  color: var(--color-primary);
  font-size: 1.5rem;
}
#testimonials #testimonialsCarousel .testimonial-item .testimonial-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--color-default);
  font-family: var(--font-secondary);
}
#testimonials #testimonialsCarousel .testimonial-item .testimonial-job {
  font-size: 14px;
  color: var(--color-tertiary);
  font-family: var(--font-secondary);
}
#testimonials #testimonialsCarousel .testimonial-item .testimonial-rating-icon {
  color: #ffc107;
}
#testimonials #testimonialsCarousel .testimonial-item .testimonial-img {
  border-radius: 50%;
  border: 0.25rem solid #fff;
}
