:root {
  /* ?================ Colors ================? */
  --color-default: #212529;

  --primary-hue: 0;
  --primary-saturation: 84%;
  --primary-lightness: 44%;

  --color-primary: hsl(
    var(--primary-hue),
    var(--primary-saturation),
    var(--primary-lightness)
  );
  
  --color-secondary: #37373f;
  --color-tertiary: #7f7f90;

  --light-hue: 0;
  --light-saturation: 0%;
  --light-lightness: 100%;

  --color-light: hsl(
    var(--light-hue),
    var(--light-saturation),
    var(--light-lightness)
  );
  --color-light-grey: #eee;

  /* ?================ Font Families ================? */
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Amatic SC", sans-serif;
  --font-secondary: "Inter", sans-serif;
}
